/*******************************************************************************
 * Globals
 ******************************************************************************/
* {
	/* Reset all default margins and padding set by browser */
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: rgba(0, 0, 0, 0.8);

	/* Disable auto-resizing on load since it's unreliable. But allow resizing
	 * by users after the page has loaded */
	-webkit-text-size-adjust: 100%;
}

html {
	font-size: 16px;
	font-family: Roboto, sans-serif;
}

body {
	min-width: 50%;
	margin: auto;
}

@media screen and (min-width: 60em) {
	/* 960px / 16px == 60em (since 1em == 16px, base font size (above)) */
	html {
		font-size: 1.0em;
	}

	body {
		max-width: 940px;
		margin: auto;
	}
}

@media screen and (max-width: 48em) {
	/* 768px / 16px == 48em (since 1em == 16px, base font size (above)) */
	html {
		font-size: 1.0em;
	}

	body {
		max-width: 100%;
	}
}

@media screen and (max-width: 20em) {
	/* 320px / 16px == 20em (since 1em == 16px, base font size (above)) */
	html {
		font-size: 0.65em;
	}

	body {
		max-width: 100%;
	}
}


a:link, a:visited {
	text-decoration: none;
}

h1 {
	font-weight: bold;
	font-size: 2.5em;
}

h2
{
	padding-bottom: 0.5%;
	font-weight: bold;
	font-size: 1.5em;
}

h3  {
	font-size: 1em;
}

/*******************************************************************************
 * Index Page (index.html)
 ******************************************************************************/
#index_wrapper
{
	margin: 2%;
}

.index_divider, .index_divider_no_top_margin
{
	height: 2px;
	margin-top:    2%;
	margin-bottom: 1%;
	background-color: rgba(0, 0, 0, 0.8);
}

.index_divider_no_top_margin {
	margin-top: 0%;
}

#index_work_exp_table,
#index_education_table,
#index_projects_table {
	display: table;

	border-spacing: 5px 2px;
	border-collapse: separate;
	margin-left: -5px;
}


/*******************************************************************************
 * Index Work Exp Info
/******************************************************************************/
.index_work_exp_table_row {
	display: table-row;
}

.index_work_exp_table_cell,
.index_work_exp_table_cell_year {
	display: table-cell;
}

.index_work_exp_table_cell_year {
	font-weight: bold;
}

/*******************************************************************************
 * Index Education
/******************************************************************************/
.index_education_table_row {
	display: table-row;
}

.index_education_table_cell,
.index_education_table_cell_year {
	display: table-cell;
}

.index_education_table_cell_year {
	font-weight: bold;
}

/*******************************************************************************
 * Index Projects
/******************************************************************************/
.index_projects_table_row {
	display: table-row;
}

.index_projects_table_cell,
.index_projects_table_cell_year {
	display: table-cell;
}

.index_projects_table_cell_year {
	font-weight: bold;
}
